@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	button {
		@apply font-rubik;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-white;
	}
	h1{
		@apply font-bold
	}
	ul {
		@apply list-item list-disc;
	}
	h2 {
		@apply text-xl md:text-4xl py-4;
	}
	button {
		@apply font-normal rounded shadow-button;
	}

	ul {
		@apply leading-xl;
	}

	p,
	a {
		@apply font-body text-base font-thin leading-xl;
	}

	.legal h2 {
		@apply text-xl md:text-4xl pt-12 font-bold;
	}
	.legal p {
		@apply mb-4;
	}
	.legal ul {
		@apply pb-4;
	}
}
